---
layout: header
paddingTop: 165
headerHeight: 165
---

<main class="mx-auto lg:mt-14" style="padding-top: {{paddingTop}}px;">
    {% block content %}
        {{ content | safe }}
    {% endblock %}
    <div class="mt-10 text-sm text-right text-gray-400">Version {% version %}</div>
    <div class="text-sm text-right text-gray-400">Built {% versionDate %}</div>
</main>
