---
layout: body
js: index.js
extraJs: scroll-animation.js
eleventyNavigation:
  key: Home
displayLogo: false
headerHeight: 165
---
<object id="svg-logo" class="z-20 fixed left-0 opacity-0 transition-opacity duration-300 h-1/2 w-screen" data="/assets/logo-raw.svg" onload="svgLoaded(this.contentDocument.querySelector('svg'))"></object>
<div id="page-content-container" class="bg-white" style="padding-top: 100vh" x-data>
    {% for contentBlock in homePageContent.blocks %}
        {% imageAppearEffect %}
        {{ contentBlock.image }}
        {% endimageAppearEffect %}
        <div class="home-page-text-block">
            <h1 src="{{ contentBlock.image }}">{{ contentBlock.title }}{% accent %}</h1>
            <div src="{{ contentBlock.image }}">{{ contentBlock.text }}</div>
        </div>
    {% endfor %}
    {% imageAppearEffect %}
    {{ homePageContent.separatorImage }}
    {% endimageAppearEffect %}
    <h1 class="my-20">Services{% accent %}</h1>
    {% for service in collections.services %}
        <div class="p-10">
            {% threeDShadow %}
            <img src="{{ service.data.mainImage }}" class="max-h-56 w-full object-cover"/>
            <div class="home-page-text-service p-4">
                <h2>{{ service.data.title }}</h2>
                <div class="p-4">{{ service.data.summary }}</div>
                <a class="btn" href="{{service.url}}">Learn More</a>
            </div>
            {% endthreeDShadow %}
        </div>
    {% endfor %}
</div>
