---
layout: body
permalink: /
js: index.js
eleventyNavigation:
  key: Home
---
<h1>This is a H1</h1>
<div class="my-10 max-w-4xl mx-auto">Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit</a>. Ut cursus, dui a condimentum semper, ex dui maximus mi, eget dapibus leo erat laoreet magna. In hac habitasse platea dictumst. Nunc et sagittis augue. Ut elit ipsum, pellentesque vel ornare quis, pellentesque id quam. Donec tincidunt venenatis dolor a feugiat. Donec.</div>
<h2>This is a H2</h2>
<h3>This is a H3</h3>
<h4>This is a H4</h4>
